.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.body{
    background-color: rgb(11, 43, 2);
    height: 575px;
    /* margin-top: 20px; */
}
/* .text-left{
    margin-top: 20px;
} */
.col-md-6{
    margin-top: 80px;
    /* background-color: black; */
}
.card{
    background-color: rgb(239, 241, 241);
    color: black;
    font-style:bold;
    font-weight:600;
}
